stages:
- deploy

deploy-to-github:
  stage: deploy
  image: ubuntu:20.04  
  variables:
    GIT_STRATEGY: none
  only:
  - master@mschned/p_spacechargelight
  script:
  - apt-get update
  - apt-get dist-upgrade -y
  - apt-get install -y git
  - mkdir --mode=700 ~/.ssh/
  - (umask 0377 && echo "${GITHUB_DEPLOY_KEY}" > ~/.ssh/id_rsa
                && echo "github.com ${GITHUB_HOST_KEY}" >> ~/.ssh/known_hosts)
  - git clone --mirror "${CI_REPOSITORY_URL}" "${CI_PROJECT_NAME}_mirror"
  - cd "${CI_PROJECT_NAME}_mirror";
    git push --mirror "git@github.com:mschnedler/P_SpaceChargeLight.git";
    cd ..

